:root {
  --accent: rgb(27, 27, 255);
}

* {
  box-sizing: border-box;
  margin-block: 0px;
  font-family: Helvetica;
  user-select: none;
}

body {
  background-color: black;
  margin: 0px;
}

button {
  cursor: pointer;
}



.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
